version: 0.0.2.{build}
configuration: Release
build:
    verbosity: minimal
before_build:
  - nuget restore
after_build:
- MSBuild MiniPie.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" /t:Publish /property:ApplicationVersion="$env:APPVEYOR_BUILD_VERSION"