version: 0.0.2.{build}
configuration: Release
platform: Any CPU
assembly_info:
      patch: true
      file: '**\AssemblyInfoCommon.*'
      assembly_version: $(appveyor_build_version)
      assembly_file_version: $(appveyor_build_version)
      assembly_informational_version: $(appveyor_build_version)
build:
    verbosity: minimal
before_build:
    - nuget restore
artifacts:
    - path: MiniPie\bin\Release\app.publish\
      name: MiniPie
    - path: MiniPie\bin\Release\
      name: Binaries
deploy:
  - provider: AzureBlob
    storage_account_name: minipie
    storage_access_key:
        secure: eG3xtFKvu9udOtA68paUwEJUg70/fZZNL4mH52tUi0cU5gmp0fMzh1kah6CuQ0LyXbO/P+Ag4zurCho1fEhAPUfZ2SdW0XW2g0ZB95S+cnENTk96dBEsNDhFTYv7JF8/
    container: clickonceinstalldevelop
    folder: ''
    artifact: MiniPie
    unzip: true
    on:
        branch: develop

  - provider: AzureBlob
    storage_account_name: minipie
    storage_access_key:
        secure: eG3xtFKvu9udOtA68paUwEJUg70/fZZNL4mH52tUi0cU5gmp0fMzh1kah6CuQ0LyXbO/P+Ag4zurCho1fEhAPUfZ2SdW0XW2g0ZB95S+cnENTk96dBEsNDhFTYv7JF8/
    container: clickonceinstallmaster
    folder: ''
    artifact: MiniPie
    unzip: true
    on:
        branch: master
after_build:
        - ps: MSBuild MiniPie.sln /p:Platform="Any CPU" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" /property:GenerateManifests=true /t:Publish /p:ApplicationVersion="$env:APPVEYOR_BUILD_VERSION" /p:InstallUrl="https://minipie.blob.core.windows.net/clickonceinstall$env:APPVEYOR_REPO_BRANCH/" /p:UpdateUrl="https://minipie.blob.core.windows.net/clickonceinstall$env:APPVEYOR_REPO_BRANCH/"