version: 0.0.2.{build}
configuration: Release
platform: Any CPU
assembly_info:
      patch: true
      file: '**\AssemblyInfoCommon.*'
      assembly_version: $(appveyor_build_version)
      assembly_file_version: $(appveyor_build_version)
      assembly_informational_version: $(appveyor_build_version)
environment:
    COVERALLS_REPO_TOKEN:  
       secure: LG7HxPw5odlsFGoWXFnSpeZ2pK4FEPitMKUwYMMHih4rQtozH4hxQyrR+9us8LtI
build:
    project: MiniPie.sln
    verbosity: minimal
before_build:
    - nuget restore
artifacts:
    - path: MiniPie\bin\Release\app.publish\
      name: MiniPie
    - path: MiniPie\bin\Release\
      name: Binaries
deploy:
  - provider: AzureBlob
    storage_account_name: minipie
    storage_access_key:
        secure: eG3xtFKvu9udOtA68paUwEJUg70/fZZNL4mH52tUi0cU5gmp0fMzh1kah6CuQ0LyXbO/P+Ag4zurCho1fEhAPUfZ2SdW0XW2g0ZB95S+cnENTk96dBEsNDhFTYv7JF8/
    container: clickonceinstalldevelop
    folder: ''
    artifact: MiniPie
    unzip: true
    on:
        branch: develop

  - provider: AzureBlob
    storage_account_name: minipie
    storage_access_key:
        secure: eG3xtFKvu9udOtA68paUwEJUg70/fZZNL4mH52tUi0cU5gmp0fMzh1kah6CuQ0LyXbO/P+Ag4zurCho1fEhAPUfZ2SdW0XW2g0ZB95S+cnENTk96dBEsNDhFTYv7JF8/
    container: clickonceinstallmaster
    folder: ''
    artifact: MiniPie
    unzip: true
    on:
        branch: master
after_build:
        - ps: MSBuild MiniPie.sln /p:Platform="Any CPU" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" /property:GenerateManifests=true /t:Publish /p:ApplicationVersion="$env:APPVEYOR_BUILD_VERSION" /p:InstallUrl="https://minipie.blob.core.windows.net/clickonceinstall$env:APPVEYOR_REPO_BRANCH/" /p:UpdateUrl="https://minipie.blob.core.windows.net/clickonceinstall$env:APPVEYOR_REPO_BRANCH/"
notifications:
  - provider: Slack
    auth_token:
      secure: l9d2Z7yxqHY6S1Iom6FANSPbVpIcz0zes2lw6DmedTdqfgJRf10nVXSRp2YAMwVy
    channel: appveyor
test_script:
  - cmd: packages\OpenCover.4.6.166\tools\OpenCover.Console.exe -register:user -filter:+"[MiniPie*]* -[MiniPie.Tests]*" -target:packages\xunit.runner.console.2.1.0\tools\xunit.console.exe -targetargs:"MiniPie.Tests\bin\Release\MiniPie.Tests.dll -noshadow -appveyor -nunit xunit-results.xml" -output:coverage.xml
after_test:
  - ps: (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\xunit-results.xml))
  - cmd: packages\coveralls.io.1.3.4\tools\coveralls.net.exe --opencover coverage.xml